@font-face {
  font-family: 'XiaoZhuan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('xiaozhuan.woff2') format('woff2');
}

@font-face {
  font-family: 'XingKai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('xingkai.woff2') format('woff2');
}
